*{
box-sizing: border-box;
padding: 0;
margin: 0;

}

@font-face {
    font-family:'Agdasima-700';
    src: url(../fonts/Agdasima-Bold.ttf);
    font-weight: 700;
}

button{
    background-color: rgb(209, 81, 45) !important;
    color: white !important;
}
button:hover{
    background-color:#a03315 !important;

}

h1{
    font-family: 'Brush Script MT', "cursive" !important;
    font-size: 70px;
    font-weight: 500px;
    line-height: 60px;
    position: relative;
    width: 270px;
   z-index: 1;
}
h1::after{
    content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 5px;
  background-color: #fec260;
  transition: height 350ms;
  z-index: -1;
}

h1:hover::after{
    content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 5px;
  background-color: #fec260;
  transition: height 350ms;
  z-index: -1;
}




.linear{
    color: transparent;
   background-clip: text;
    background-image: linear-gradient(to right, rgb(60, 165, 92), rgb(181, 172, 73));
   
}
 


